*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
table{
    width: 60%;
    border: 1px solid ;
    border-collapse: collapse;
    margin: auto;
}
table,th,tr{
    border: 1px solid black;
    height: 40px;
}
#button{
    width: 40px;
    background-color: green;
}
tr td{
    border: 1px solid;
    border-collapse: collapse;
}